*,
*::before,
*::after {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: greyscale;
  font-kerning: auto;
}

body {
  display: flex;
  flex-direction: column;

  background-color: rgb(203, 165, 127);
}




/* styling of book section */
#booksListSection {
  padding: .8em;
  margin: 1em 0;

  background-color: lemonchiffon;
}

#formToEditListOfBooks {
  padding: 1em;

  background-color: rgb(205 224 255 / 66%);
}

.bookItem {
  display: flex;
  justify-content: space-between;

  margin: 1em 0;
}

.idOfBook,
.nameOfBook {
  display: flex;
  justify-content: space-between;
}

.nameOfBook p,
.nameOfBook h4,
.idOfBook p,
.idOfBook h4 {
  margin: 1em .3em 0 0;
}

#addBook,
#updateBook,
#deleteBook {
  margin: .7em;
}





/* styling of reader section */
#readersListSection {
  padding: 1em;
  margin-bottom: 3em;

  background-color: beige;
}

#formToEditListOfReaders {
  padding: 1em;

  background-color: #f5dcdc;
}

.readerItem {
  display: flex;
  justify-content: space-between;

  margin: 1em 0;
}

.idOfReader,
.nameOfReader {
  display: flex;
  justify-content: space-between;
}

.nameOfReader p,
.nameOfReader h4,
.idOfReader p,
.idOfReader h4 {
  margin: 1em .3em 0 0;
}

#addReader,
#updateReader,
#deleteReader {
  margin: .7em;
}

/* styling of loan/return section */
#loanReturnForms {
  padding: 1em;

  background-color: rgb(255, 232, 216);
}

#loanForm,
#returnForm {
  margin: .7em;
}